/** @format */

.App {
  text-align: center;
  display: grid;
  grid-template-columns: max-content min-content;
  gap: 15px;
  place-content: center;
  justify-items: center;
  margin: 20px;
}

header {
  text-align: center;
  padding: 12px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: aliceblue;
}

header h1 {
  letter-spacing: 4px;
  font-weight: 700;
}

button,
[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: rgb(255, 145, 0);
  color: white;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  align-self: end;
  transition: all 0.15s;
}

button:hover,
[type="submit"]:hover {
  cursor: pointer;
  background-color: rgb(206, 118, 4);
}

button:active,
[type="submit"]:active {
  opacity: 0.8;
}

input {
  border-radius: 6px;
  border: 1px solid grey;
  padding: 2px;
  text-indent: 2px;
  width: 100%;
}

label {
  text-wrap: nowrap;
}

fieldset {
  text-align: start;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.totals {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 9px;
  text-align: start;
  padding: 15px;
  border-radius: 15px;
  background: linear-gradient(to right, rgb(242, 169, 95) 40%, snow);
}

.totals::before {
  content: "TOTALS";
  font-weight: 600;
  font-size: 1.5rem;
}

.left-se {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (width < 500px) {
  .App {
    grid-template-columns: max-content;
  }
  .totals {
    grid-row: 3;
  }
  .right-se {
    grid-row: 2;
  }
}
